
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MY CODE */

a{
	color: #000;
	text-decoration: none;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	
}

header {
	width: 100%;
	height: 140px;
	background-color: #222;
}

header h1{
	color: #fff; 
	text-align: center;
	font-family: Lato;
	font-size: 30px;
	float: left;
	margin-top: 60px;
	margin-left: 260px;
}

header img {
	margin-top: 10px; 
	float: left;
}

header nav {
	float: right;
}
header  nav ul{
	margin-top: 72px;
}
header nav ul li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}
header  nav ul li a{
	font-family: Lato;
	font-weight: 400;
	font-size :14px;
	color: #fff;
	
}
.index-intro {
	width:100%;
	padding: 50px 0px;
	
}
.index-intro h2 {
	font-weight: 700;
	font-family: Lato;
	font-size:24;
	text-align: center;
	padding-bottom:20px;
}
.index-intro p {
	font-weight: 400;
	font-family: Lato;
	font-size:16px;
	text-align: center;
	line-height: 22px;
	margin: 20px;
}

.index-news{
	width: 100%;
	padding: 80px 0px;
	background-color: #ccc;
	overflow: hidden;
}
.index-news article{
	width: 18%;
	float: left;
	margin: 0px 1%;
}
.index-news article:hover .news-img{
	background-image: url('../document_file_icon_2.png');
}
.news-img {
	width: 100%;
	height: 120px;
	
	background-image: url('../document_file_icon.png');
	transition: all 0.75s ease-in-out;
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
}
.index-news h3 {
	font-weight: 400;
	font-family: Lato;
	font-size:18;
	text-align: center;
	padding-bottom:10px;
	padding-top:10px;
	color: #000;
}
.index-news p {
	font-weight: 400;
	font-family: Lato;
	font-size:14px;
	text-align: center;
	padding-bottom:10px;
	color: #000;
}
.table-box{
	width: 100%;
	padding: 80px 0px;
}

.table-box table tr{
	border-top: 2px solid #fff;
	
}

.table-box table{
	width: 100%;
	
}
.table-box table th{
	text-align:left;	
}
.table-box table td{
	background-color: #ccc;
	border: 2px solid #fff;
}

.table-box{
	width: 100%;
	padding: 80px 0px;
	background-color: #fff;
}
.form-box {
	width: 100%;
	padding: 80px 0px;
	background-color: #fff;
}
.form-box form input{
	width: 40%;
	height: 30px;
	margin-bottom: 10px;
	padding: 0px 0.5%;
	border: 1px solid orange; 
}
.form-box form textarea{
	clear: both;
	width: 60%;
	height: 300px;
	margin-bottom: 4px;
	padding: 0px 0.5%;
	border: 1px solid orange; 
	font-size: 16px;
	color: #282828;
	font-family: Lato;
	resize: vertical;
	 
}
/*------------------------------------------------file2_comb----------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

.texteditor-position {
	margin-top: 20px;
	margin-bottom: 50px;
}
.background-color-lip {
	/* background: #c1bdba; */
	font-family: 'Titillium Web', sans-serif;
}
.form a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.form a:hover {
	color: #179b77;
}
.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
.form h2 {
  text-align: center;
  color: red;
  font-weight: 300;
  margin: 0 0 20px;
}
label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}
.form input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  }
  
.form input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom:10px;
}
/*--------footer-------------------------------------------------------------------------------------------*/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer{
	width: 100%; 
	background-color: #222;
	padding: 60px 0px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
footer nav {
	float: left;
}
footer  nav ul{
}
footer nav ul li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}
footer  nav ul li a{
	font-family: Lato;
	font-weight: 400;
	font-size :12px;
	color: #fff;
}

#upload-file{
	margin-top: 30px;
	transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
}
#upload-file:hover{
	width:82px;
	height:82px;
}
#create-file{
	margin-top: 30px;
	transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
}
#create-file:hover{
	width:82px;
	height:82px;
}
.image-upload > input
{
    display: none;
}
#download-key{
	margin-top: 30px;
	transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
}
#download-key:hover{
	width:82px;
	height:82px;
}

#top-images {

}
.popup {
	
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin-top: 40px;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
	margin-top: 40px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.files-box {
	overflow:hidden;
	padding: 60px 0px;
}
.img-single {
	width: 110px; 
	margin: 5px 5px;
	float: left; 
	position: relative;  
}
.img-single img{
	width: 100%; 
	height: 120px;
	float: left; 
	position: absolute; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 0px; 
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
}

.img-single h3 {
	text-align: center; 
	font-family: Lato; 
	margin-top: 130px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-single img:hover{
	width: 110%; 
	height: 130px;
	float: left; 
	position: absolute; 
	top: -5%;  
	left: -5%; 
}


@media only screen and (max-width: 768px) and (orientation: potrait){
	
	.index-intro h2 {
	font-weight: 700;
	font-size:34;
	
}
	.index-intro p {
	font-weight: 400;
	font-size:26px;

}
}

@media only screen and (max-width: 768px) and (orientation: landscape){
	
	.index-intro h2 {
	font-weight: 700;
	font-size:34;
	color: red;
	
}
	.index-intro p {
	font-weight: 400;
	font-size:26px;

}
}

/*--------------------------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 960px;
}

/* primary header */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

/* content */

.content {
  padding: 48px 0;
  border-bottom: solid 2px #cfcfcf;
}

.content__footer {
  margin-top: 12px;
  text-align: center;
}

/* footer */

.primary-footer {
  padding: 24px 0;
  color: #898989;
  font-size: 14px;
  text-align: center;
}

/* tasks */

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
  border-bottom: none;
}

/* context menu */

.context-menu {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}















