<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='get_file_name.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_test.css')}}?v={{ var }}">
    <title>cloud on key</title>
</head>
<body>

<header>
    <div class="wrapper">
        <img src="/static/cloud_key.png" height="120" width="120">
        <h1>Cloud On Key</h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/files">FILES</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
  <div class="wrapper">
      <center>
          <div id="top-images">
    <img id ="create-file" src="/static/create_file2.png" onclick="getFileName()" height="75" width="75" alt="add new file">
    <img id="download-key" src="static/key-info.png" height="75" width="75" onclick="downloadKeyInfo()">
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
          </div>
     <div class="popup">
       <span class="popuptext" id="myPopup"></span>
      </div>
          </center>
  </div>


    <div class="files-box">
        <div class="wrapper" id="files-view">
            {%for file_name in files_list%}
            <a href={{"/file_request/"+file_name}}>
            <div class="img-single" id="{{ file_name }}">
                <img src="static/document_file_icon_2.png">
                <h3>{{ file_name }}</h3>
            </div></a>
            {% endfor %}
        </div>
    </div>
</section>
<!---------------------------------------------------------->
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="download_file" download><i class="fa fa-eye"></i> Download File</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Share"><i class="fa fa-edit"></i> Share File</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Delete"><i class="fa fa-times"></i> Delete File</a>
      </li>
    </ul>
</nav>
<!---------------------------------------------------------->

<footer>
    <div class="wrapper">
        <nav>
         <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/files">FILES</a></li>
            <li><a href="/forum">FORUM</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='socketio-update.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='right-click.js') }}"></script>
</html>