<html>
<head>
<title>file viewer</title>
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;


div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>
<center>
<div class="img">
  <a target="_blank" href="document_file_icon.png">
    <img src="get_image/document_file_icon_2.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">this is a file example</div>
</div>

<div class="img">
  <a target="_blank" href="document_file_icon.png">
    <img src="get_image/document_file_icon_2.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">this is a file example</div>
</div>

<div class="img">
  <a target="_blank" href="document_file_icon.png">
    <img src="get_image/document_file_icon_2.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">this is a file example</div>
</div>
</center>
</body>
</html>