<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_test.css')}}?v={{ var }}">
    <!--<link rel="stylesheet" type="text/css" href="style_test.css"> -->
    <title>test</title>
</head>
<body>

<header>
    <div class="wrapper">
        <img src="static/cloud_key.png" height="120" width="120">
        <h1>Cloud On Key</h1>
        <nav>
            <ul>
                <li><a href="test_html.html">HOME</a></li>
                <li><a href="files">FILES</a></li>
                <li><a href="forum.html">FORUM</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>


<section>
    <div class="index-intro">
        <div class="wrapper">
            <h2>This is an intro title!</h2>
            <p>gggggggggggggggggdhgfdhdffdhdfhfdggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
                fdgdfgsdg
                dfsgdsfgdsffgdsgdsfgdfsfffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffhhhh</p>
        </div>
    </div>
    <!---------------------------------------------------------------------->
    <div class="index-news">
        <div class="wrapper">
            <article>
                <div class="news-img">

                </div>
                <h3>This is a news title!</h3>
                <p>dfgklhjndfhkjldfhflhjkdflkg
                dfglhjdfglkhjfdlkhjdfkjhlkdfg
                fglkhjfgjlkhjfglkhjlkfgjhlkk</p>
            </article>
            <article>
                <div class="news-img">

                </div>
                <h3>This is a news title!</h3>
                <p>dfgklhjndfhkjldfhflhjkdflkg
                dfglhjdfglkhjfdlkhjdfkjhlkdfg
                fglkhjfgjlkhjfglkhjlkfgjhlkk</p>
            </article>
            <article>
                <div class="news-img">

                </div>
                <h3>This is a news title!</h3>
                <p>dfgklhjndfhkjldfhflhjkdflkg
                dfglhjdfglkhjfdlkhjdfkjhlkdfg
                fglkhjfgjlkhjfglkhjlkfgjhlkk</p>
            </article>
            <article>
                <div class="news-img">

                </div>
                <h3>This is a news title!</h3>
                <p>dfgklhjndfhkjldfhflhjkdflkg
                dfglhjdfglkhjfdlkhjdfkjhlkdfg
                fglkhjfgjlkhjfglkhjlkfgjhlkk</p>
            </article>
            <article>
                <div class="news-img">

                </div>
                <h3>This is a news title!</h3>
                <p>dfgklhjndfhkjldfhflhjkdflkg
                dfglhjdfglkhjfdlkhjdfkjhlkdfg
                fglkhjfgjlkhjfglkhjlkfgjhlkk</p>
            </article>
        </div>
    </div>

    <div class="table-box">
        <div class="wrapper">
            <table>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>points</th>
                </tr>
                <tr>
                    <td>Tamir</td>
                    <td>naruto</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>madare</td>
                    <td>uchiha</td>
                    <td>50</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="form-box">
        <div class="wrapper">
            <form action="form.php" method="POST">
                <input type="text" name="first" value="first name">
                <input type="text" name="first" placeholder="last name">
                <br>
                <input type="radio" name="gender" value="male">Male
                <br>
                <input type="radio" name="gender" value="female">female
                <br>
                <textarea name="message"></textarea>
                <br>
                <button type="submit">blaa</button>
            </form>
        </div>
    </div>

</section>


<footer>
    <div class="wrapper">
        <nav>
         <ul>
            <li><a href="test_html.html">HOME</a></li>
            <li><a href="files_view_2.html">FILES</a></li>
            <li><a href="forum.html">FORUM</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
</html>