<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_test.css')}}?v={{ var }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_test_2.css')}}?v={{ var }}"> -->
    <title>login_page</title>
</head>
<body>
<div class="background-color-lip">
<header>
    <div class="wrapper">
        <img src="/static/cloud_key.png" height="120" width="120">
        <h1>Cloud On Key</h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/files">FILES</a></li>
                <li><a href="/forum">FORUM</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
   <div class="form">
        {% if error == "you are logged out" %}
               <h2>{{ error }}</h2>
        {% endif %}
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <form action="/register" method="POST">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input name="fname" type="text" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input name="lname" type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input name="email" type="email"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input name="password" type="password"required autocomplete="off"/>
          </div>

          <button type="submit" class="button button-block">Get Started</button>

          </form>

        </div>

        <div id="login">
          <h1>Welcome Back!</h1>
          {% if error and error !="you are logged out" %}
                <h2>{{ error }}</h2>
          {% endif %}

          <form action="/login" method="POST">

            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input name="email" type="email" required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name="password" crypt="bcrypt" required autocomplete="off"/>
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button class="button button-block">Log In</button>

          </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->


</section>


<footer>
    <div class="wrapper">
        <nav>
         <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/files">FILES</a></li>
            <li><a href="/forum">FORUM</a></li>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</footer>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>