<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Text editor</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_test.css')}}?v={{ var }}">
	<center><h1>Text Editor</h1></center>
</head>
<body>
    <center>
	<!-- Knapper -->
	<input type="button" value="B" onclick="mod_selection('<b>','</b>')" />
	<input type="button" value="I" onclick="mod_selection('<i>','</i>')" />
	<input type="button" value="U" onclick="mod_selection('<u>','</u>')" />
	<br />

	<!-- Text area -->
	<textarea oninput="sendUpdate()" cols="80" rows="50" type="text" class="text_edit" id="my_text">"{{ data }}"</textarea>
	<br />
    </center>
<script>src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='text_editor.js') }}"></script>
</body>
</html>

