<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_test.css')}}?v={{ var }}">
    <title>Text editor</title>
</head>
<body>

<header>
    <div class="wrapper">
        <img src="/static/cloud_key.png" height="120" width="120">
        <h1>Cloud On Key</h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="files_view_2.html">FILES</a></li>
                <li><a href="forum.html">FORUM</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <center>
	<!-- Knapper -->
	<input type="button" value="B" onclick="mod_selection('<b>','</b>')" />
	<input type="button" value="I" onclick="mod_selection('<i>','</i>')" />
	<input type="button" value="U" onclick="mod_selection('<u>','</u>')" />
	<br />

	<!-- Text area -->
	<textarea oninput="sendUpdate()" cols="80" rows="50" type="text" class="text_edit" id="my_text">"{{ data }}"</textarea>

	<br />
    </center>
</section>


<footer>
    <div class="wrapper">
        <nav>
         <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="files_view_2.html">FILES</a></li>
            <li><a href="forum.html">FORUM</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</footer>
<script>src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='text_editor.js') }}"></script>
</body>
</html>