<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_test.css')}}?v={{ var }}">
    <title>cloud on key</title>
</head>
<!------------------------------------------------------------------->
<body>
<header>
    <div class="wrapper">
        <img src="/static/cloud_key.png" height="120" width="120">
        <h1>Cloud On Key</h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/files">FILES</a></li>
                <li><a href="/forum">FORUM</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</header>
<!------------------------------------------------------------------->
<section>
    <div class="texteditor-position">
    <center>
        <textarea class="tinymce" id="texteditor">{{ data }}</textarea>
    </center>
    </div>
</section>
<!------------------------------------------------------------------->
<footer>
    <div class="wrapper">
        <nav>
         <ul>
            <li><a href="/">HOME</a></li>
                <li><a href="/files">FILES</a></li>
                <li><a href="/forum">FORUM</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</footer>
<!------------------------------------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socketio-update.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/tinymce/init-tinymce.js') }}"></script>
</body>
</html>